.post {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.liked {
  background-color: lightblue;
}

.PostUsername {
  margin: 0;
}

.PostText {
  margin: 0;
}

.PostTags {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.PostTag {
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
}

.PostTag.selected {
  background-color: lightgreen;
}

